.motorcycleDetail {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}

.motorcycleInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 635px;
}

.motorcycleName {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: var(--dark-violet);
  margin-bottom: 10px;
}

.motorcycleDescription {
  font-weight: 500;
  line-height: 19.09px;
  color: var(--secondary-color);
}

.quotationSection {
  width: 635px;
  height: 100%;
}
