.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
}

.imageContainer {
  width: 635px;
  height: 307px;
  margin-right: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.info {
  width: 445px;
  height: 100%;
}

.name {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: var(--dark-violet);
  margin-bottom: 10px;
}

.description {
  font-weight: 500;
  line-height: 19.09px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-weight: 500;
  line-height: 19.09px;
  color: var(--white);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  background-color: var(--hover-color);
}

.link:active {
  background-color: var(--active-color);
  transform: scale(0.98);
}
