.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 480px;
  background-color: var(--dark-violet);
}

.logo {
  padding-bottom: 25px;
}

.divider {
  width: 1110px;
  border-color: #261041;
}

.linkSections {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  margin: 25px 0 15px;
}

.links {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  color: var(--light-gray);
}

.links h4 {
  margin-bottom: 10px;
}

.linkTitle {
  font-weight: 700;
  line-height: 19.09px;
}

.linksList li {
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  margin-top: 10px;
}

.legalSection {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.legalLinks {
  display: flex;
  align-items: center;
}

.legalLinks a {
  font-size: 12.8px;
  line-height: 15.28px;
  font-weight: 500;
  color: var(--white);
}

.separator {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  color: #ecdffd;
  margin: 0 5px;
}

.copyright {
  font-size: 12.8px;
  line-height: 15.28px;
  font-weight: 500;
  color: var(--gray);
}
