.container {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 50px;
}

.logo {
  position: absolute;
  left: 50px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.linksContainer a {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--hover-color);
}

.activeLink {
  color: var(--primary-color);
}
