@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #903DF7;
  --secondary-color: #626262;
  --gray: #9A9A9A;
  --light-gray: #D5D5D5;
  --white: #FFFFFF;
  --border-color: #EDEDED;
  --dark-violet: #180A2A;
  --hover-color: #7A2BB0; 
  --active-color: #6C25A2; 
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
