@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #903df7;
  --secondary-color: #626262;
  --gray: #9a9a9a;
  --light-gray: #d5d5d5;
  --white: #ffffff;
  --border-color: #ededed;
  --dark-violet: #180a2a;
  --hover-color: #7a2bb0;
  --active-color: #6c25a2;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
