.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 100px;
}

.image {
  margin-bottom: 20px;
}

.title {
  font-size: 31.25px;
  font-weight: 700;
  line-height: 37.29px;
  color: var(--dark-violet);
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 500;
  line-height: 19.09px;
  color: var(--gray);
}
