.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 100px;
}

.headerImage {
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-size: 31.25px;
  font-weight: 700;
  line-height: 37.29px;
  color: var(--dark-violet);
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 500;
  line-height: 19.09px;
  color: var(--gray);
}
