.accessoryGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px 100px;
}

.accessoryLink {
  width: 255px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accessoryLink img {
  border-radius: 8px;
}

.accessoryLink p {
  margin: 5px 0;
}

.imageWrapper {
  width: 225px;
  height: 128px;
  overflow: hidden;
}

.accessoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accessoryName {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 23.87px;
  color: var(--dark-violet);
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.priceContainer span {
  font-size: 10.24px;
  font-weight: 500;
  line-height: 12.22px;
  color: var(--secondary-color);
  margin-right: 5px;
}

.accessoryPrice {
  font-weight: 700;
  line-height: 23.87px;
  color: var(--secondary-color);
}
