.accessoriesContainer {
  display: flex;
  gap: 10px;
}

.accessoriesList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 500px;
  margin-bottom: 16px;
}

.accessoryCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 3px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.accessoryInfo {
  display: flex;
}

.accessoryInfo p {
  margin-top: 3px;
}

.accessoryInfo img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  margin-right: 8px;
}

.accessoryName {
  font-weight: 600;
  color: var(--dark-violet);
}

.accessoryPrice {
  color: var(--secondary-color);
}

.selectedAccessoriesContainer {
  overflow-y: auto;
  width: 50%;
  max-height: 500px;
}

.selectedAccessoriesContainer h2,
.selectedAccessoriesContainer h3 {
  font-weight: 500;
  color: var(--dark-violet);
}

.selectedAccessoryCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0 8px;
}

.selectedAccessoryCard span {
  color: var(--dark-violet);
}

.quoteContainer {
  overflow-y: auto;
  max-height: 500px;
  margin-bottom: 16px;
}

.quoteContainer h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-violet);
}

.quoteTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: var(--dark-violet);
  margin-bottom: 15px;
}

.quoteDescription {
  font-weight: 500;
  line-height: 19.09px;
  color: var(--gray);
  margin: 20px 0 20px;
}

.quoteInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quoteTotalLabel {
  font-weight: 700;
  line-height: 19.09px;
  color: var(--secondary-color);
}

.quoteTotal {
  font-weight: 700;
  line-height: 19.09px;
  color: var(--dark-violet);
}
